<%- include ('./partials/header') %>



<% let arrBookList = Object.values(bookList)%>
<!-- <%console.log(arrBookList)%> -->


<div class="container">

<% arrBookList.forEach(value => {%>

    <!-- <%console.log(value)%> -->
<div class="card m-3 mx-auto" align="center" style="width: 70%;">
    <!-- book cover -->
    <% if('imageLinks' in value){ %>
        <img src="<%= value.imageLinks.thumbnail%>"  style="width: 12rem;" class="card-img-top mx-auto" alt="...">
    <% } %> 
    
    <div class="card-body">
        <!-- title/ subtitle -->
        <h5 class="card-title"> <%= value.title ;%> 
        <% if(value.subtitle){ %>
            : <%= value.subtitle ;%>
        <% } %> 
        </h5>

        <!-- author -->
        <h6 class="card-subtitle mb-2 text-muted"> <%= value.authors ;%> </h6>

        <a href="/book/<%= value.id %>"  class="btn btn-primary">Go see book</a>
    </div>
  </div>


<% });%>

</div>
<%- include ('./partials/header') %>